.lck
pcb-arcade-controls/~pcb-arcade-controls.kicad_pro.lck
pcb-arcade-controls/~pcb-arcade-controls.kicad_pcb.lck
pcb-arcade-controls/~pcb-arcade-controls.kicad_pro.lck
pcb-arcade-controls/~pcb-arcade-controls.kicad_pro.lck
